$header-height: 100px;

body {
  margin: 0px;
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  padding-top: $header-height;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.9;
}

button {
  min-width: 220px;
  min-height: 60px;
  border-radius: 100px;
  background: #fd827d;
  margin: 50px auto;
  display: block;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  box-shadow: -3px 0px 4px 0px rgb(177 177 177);
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}

h1 {
  text-align: center;
  margin: 70px;
  font-size: 36px;
}

header {
  background-color: black;
  height: $header-height;
  width: calc(100% - 20px);
  min-width: 965px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: 0 5px 6px 0 rgb(0 0 0 / 30%);

  .logo {
    width: 25%;
    img {
      height: 66px;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    width: 50%;

    .button {
      padding: 5px 0;
      margin: 0 20px;
      position: relative;

      &::after,
      &::before {
        content: "";
        width: 0;
        height: 2px;
        background: white;
        opacity: 0;
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
        position: absolute;
        left: 0;
      }

      &::before {
        top: -5px;
      }

      &::after {
        bottom: -5px;
      }

      &.selected::after,
      &.selected::before {
        width: 100%;
        opacity: 1;
      }
    }
  }

  .infos {
    display: flex;
    justify-content: flex-end;
    width: 25%;

    > div {
      margin: 0 10px;
    }

    img {
      height: 20px;
    }
  }
}

@media (max-width: 1500px) {
  header > div:last-child {
    display: none;
  }
}

section#accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &,
  .background {
    height: calc(100vh - 100px);
    min-height: 640px;
  }

  .background {
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.85;
  }

  .logo {
    z-index: 2;
    img {
      display: block;
      margin: auto;
      max-width: 75vw;
    }

    img.line {
      max-height: 310px;
    }

    img.toile {
      max-height: 208px;
    }
  }
}

section#galerie {
  .grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  .grid .element {
    width: calc((100vw / 4) - (5px * 3));
    padding: 5px;
    position: relative;

    img {
      width: 100%;
    }

    .opened {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: 3;
      border: 10px solid rgba(0, 0, 0, 0.8);
      background-size: contain;
      background-clip: padding-box;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.8);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      transform: scale(0);

      .close {
        position: fixed;
        top: 0;
        right: 0;
        color: white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        font-size: 25px;
        cursor: pointer;
      }
    }

    &.selected .opened {
      opacity: 1;
      transform: scale(1);
    }

    .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      transform: scale(0.5);
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      font-size: 24px;
      cursor: pointer;

      .divider {
        width: 15px;
        height: 2px;
        margin: 15px auto;
        background-color: black;
      }
    }

    &:hover .overlay {
      opacity: 1;
      transform: scale(1);
    }
  }
}

section#bio {
  text-align: center;

  .divider {
    margin: 100px auto;
    width: 500px;
    height: 4px;
    background: black;
  }

  > img {
    width: 540px;
    margin-bottom: 70px;
  }

  > p {
    width: 1000px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
  }
}

section#contact {
  padding-bottom: 70px;
  position: relative;
  padding-top: 1px;

  .background {
    background: url(../img/contact.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.55;
  }

  h1 {
    position: relative;
    z-index: 2;
  }

  .container {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;

    form {
      width: 45%;
      .flex {
        display: flex;
      }
      input {
        display: block;
        width: 50%;
        &:only-child {
          width: 100%;
        }
      }

      input,
      textarea {
        margin: 5px;
        font-family: "Comfortaa", cursive;
        padding: 3px 5px;
      }
    }

    > form button {
      margin-top: 10px;
    }

    .text {
      width: 50%;
      p {
        line-height: 1.6;
        text-align: justify;
        &:first-child {
          margin-top: 0;
        }
      }
      form {
        width: 100%;
        input {
          margin: 0;
          width: 100%;
        }
      }
    }

    button {
      margin: 0 0 0 10px;
      width: auto;
      font-size: 16px;
      padding: 5px 10px;
      min-width: auto;
      min-height: auto;
    }
  }
}

footer {
  height: 100px;
  background: black;
}
